.newsslider {
	position:relative;
	overflow:hidden;
	height:80px;
	width:280px;
	float: left;
}
.newsslidercontent {
	position:absolute;
	width: 100%;
}
.newssection {
	height:60px;
	width:270px;
	padding-bottom: 20px;
}
